<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>欢迎来到 章晨德 主页</title>
        <link rel="shortcut icon" href="favicon.ico" />
        <!-- ------------------------------------------------- -->
        <link rel="stylesheet" href="css/base.css" />
        <link rel="stylesheet" href="css/fullpage.min.css" />
        <!-- 引入外部字体连接 -->
        <link rel="stylesheet" href="//at.alicdn.com/t/font_2935587_97eo1d0furr.css" />
        <!-- 引入animate -->
        <link rel="stylesheet" href="./css/animate.min.css" />
        <link rel="stylesheet" href="./css/style-1.css" />
        <link rel="stylesheet" href="./css/style-2.css" />
        <link rel="stylesheet" href="./css/style-3.css" />
        <link rel="stylesheet" href="./css/style-4.css" />
        <link rel="stylesheet" href="./css/style-5.css" />
        <link rel="stylesheet" href="./css/style-6.css" />
        <link rel="stylesheet" href="./css/style-7.css" />
        <link rel="stylesheet" href="./css/style-8.css" />
        <link rel="stylesheet" href="./css/jaliswall.css" />
        <!-- ------------------------------------------------- -->
        <script src="js/jQuery.mini.js"></script>
        <script src="js/fullpage.min.js"></script>
        <script src="js/jaliswall.js"></script>
        <script src="js/index.js"></script>
        <style>
            /* 轮播圆点颜色 */
            #fp-nav ul li a span {
                background-color: #fff !important;
            }
            /* 左右滑块的样式 */
            .fp-bottom ul {
                width: 100%;
                text-align: center;
            }
            /* 三屏的圆点颜色 */
            .fp-bottom ul li a span {
                background-color: rgb(255, 255, 255);
            }
            body {
                background-image: linear-gradient(#48f1d5, #fff, #ffa4a4);
            }
        </style>
    </head>

    <body>
        <!--音乐-->
<div class="video_exist play_yinfu" id="audio_btn" style="display: block;z-index:999999;">
    <div id="yinfu" class="rotate"></div>
    <audio preload="auto" autoplay="" id="media" src="MC/燃纯7.mp3" 
      autoplay preload loop="loop"></audio>
</div>
        <div id="dowebok">
            <!-- <h3>第一屏</h3> -->
            <div class="section sec1" id="section1">
                <!-- 背景圆点 -->
                <div class="sec1_circle1"></div>
                <div class="sec1_circle2"></div>
                <div class="sec1_circle3"></div>
                <!-- 头部 -->
                <nav>
                    <ul>
                        <li class="local_home">
                            <a href="#page1">
                                <span class="local_hd">Home</span>
                                <span class="local_bd">主页</span>
                            </a>
                        </li>
                        <li class="local_home">
                            <a href="#page2">
                                <span class="local_hd">Preson</span>
                                <span class="local_bd">简介</span>
                            </a>
                        </li>
                        <li class="local_home">
                            <a href="#page3">
                                <span class="local_hd">Photo</span>
                                <span class="local_bd">博物馆照片集</span>
                            </a>
                        </li>
                        <li class="local_home">
                            <a href="#page4">
                                <span class="local_hd">Weather</span>
                                <span class="local_bd">天气</span>
                            </a>
                        </li>
                        <li class="local_home">
                            <a href="#page5 ">
                                <span class="local_hd">Video</span>
                                <span class="local_bd">视频</span>
                            </a>
                        </li>
                        <li class="local_home">
                            <a href="#page6">
                                <span class="local_hd">Game</span>
                                <span class="local_bd">游戏</span>
                            </a>
                        </li>
                        <li class="local_home">
                            <a href="#page7 ">
                                <span class="local_hd">Animation</span>
                                <span class="local_bd">动漫</span>
                            </a>
                        </li>

                        <li class="local_home">
                            <a href="#page8 ">
                                <span class="local_hd">Message</span>
                                <span class="local_bd">留言板</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- 内容区域 -->
                <main>
                    <div class="main_left">
                        <div class="myPhoto current">
                            <a href="#">
                                <img src="./img/蜡笔小新.jpeg" alt="" />
                                <h3>章晨德</h3>
                                <p>唯有落叶🍂知湫意</p>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <p></p>
                                <span>首页</span>
                            </a>
                        </div>
                        
                        <div>
                            <a href="#">
                                <p></p>
                                <span>电话</span>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <p></p>
                                <span>邮箱</span>
                            </a>
                        </div>
               
                    </div>
                    <div class="main_right">
                        <div class="content hidden" style="display: block">
                            <img src="./img/1-5.jpg" alt="" / class="touxiang">
                            <p>无论对谁太过热情，就增加了不被珍惜的概率</p>
                            <p>弱能避开猛烈的狂喜，自然不会有悲痛袭来。——《人间失格》</p>
                            <p>爱意随风起，自然知湫意。</p>
                        </div>

                        <div class="content hidden">
                            <img src="./img/壁纸1.jpg" alt="" / class="touxiang">
                            <p>这是我的动漫主题个人网站</p>
                        </div>

                        <div class="content hidden">
                            <img src="./img/壁纸3.png" alt="" / class="touxiang">
                            <p>电话：18757897200</p>

                        </div>

                        <div class="content hidden">
                            <img src="./img/壁纸4.jpg" alt="" / class="touxiang">
                            <p>邮箱：2499249883@qq.com</p>

                        </div>

                    </div>
                </main>
            </div>
            <!-- <h3>第二屏</h3> -->
            <div class="section sec2" id="section2">
                <!-- 背景小圆点 -->
                <div class="sec2_circle1"></div>
                <div class="sec2_circle2"></div>
                <div class="sec2_circle3"></div>
                <!-- 主题内容 -->
                <div class="sec2_main">
                    <div class="sec2_main_head">
                        <ul>
                            <li class="current1">
                                <a href="#">个人资料</a>
                            </li>
                            <li><a href="#">学校图片</a></li>
                            <li><a href="#">个人技能</a></li>
                            <li><a href="#">个人QQ</a></li>
                            <li><a href="#">个人微信</a></li>
                            <li><a href="#">个人爱好</a></li>
                        </ul>
                    </div>
                    <div class="sec2_main_body">
                        <div class="sec2_main_body_content hidden" style="display: block">
                            <div class="sec2_main_body_content_left">
                                <p>💘</p>
                                <p>姓名：章晨德</p>
                                <p>性别：男</p>
                                <p>生日：2001/05/23</p>
                                <p>星座：双子</p>
                                <p>落叶🍂知湫意</p>
                                <p>爱意💕随风起</p>
                                <p>💓</p>
                            </div>
                            <div class="sec2_main_body_content_right">
                                <img src="./img/壁纸2.jpg" alt="" />
                            </div>
                        </div>
                        <div class="sec2_main_body_content hidden">
                            <div class="sec2_main_body_content_left">
                                <p>💘</p>
                                <p>《校园风光》</p>
                                <p>💓</p>
                            </div>
                            <div class="sec2_main_body_content_right">
                                <div class="slide">
                                <img src="./img/学校.jpeg" alt="" />
                            </div>
                            <div class="slide">
                                <img src="./img/学校2.jpeg" alt="" />
                            </div>
                        </div>
                        </div>
                        <div class="sec2_main_body_content hidden">
                            <div class="sec2_main_body_content_left">
                                <p>💘</p>
                                <p>个人技能</p>
                                <p>后端开发</p>
                                <p>💓</p>
                            </div>
                            <div class="sec2_main_body_content_right">
                                <img src="./img/壁纸5.jpeg" alt="" />
                            </div>
                        </div>
                        <div class="sec2_main_body_content hidden">
                            <div class="sec2_main_body_content_left">
                                <p>💘</p>
                                <p>QQ号：2499249883</p>
                                <p>💓</p>
                            </div>
                            <div class="sec2_main_body_content_right">
                                <img src="./img/壁纸6.jpg" alt="" />
                            </div>
                        </div>
                        <div class="sec2_main_body_content hidden">
                            <div class="sec2_main_body_content_left">
                                <p>💘</p>
                                <p>落叶🍂知湫意</p>
                                <p>微信：蜡笔小新</p>
                                <p>爱意💕随风起</p>
                                <p>💓</p>
                            </div>
                            <div class="sec2_main_body_content_right">
                                <img src="./img/壁纸7.jpg" alt="" />
                            </div>
                        </div>
                        <div class="sec2_main_body_content hidden">
                            <div class="sec2_main_body_content_left">
                                <p>💘</p>
                                <p>爱好：原神，小说，音乐，动漫</p>
                                <p>💓</p>
                            </div>
                            <div class="sec2_main_body_content_right">
                                <img src="./img/壁纸8.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <h3>第三屏</h3> -->
            <div class="section sec3" id="section3">
                <div class="slide">
                    <img src="./imge/1.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/2.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/3.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/4.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/5.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/6.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/7.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/8.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/9.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/10.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/11.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/12.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/13.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/14.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/15.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/16.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/17.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/18.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/19.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/20.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/21.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/22.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/23.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/24.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/25.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/26.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/27.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/28.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/29.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/30.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/31.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/32.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/33.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="./imge/34.jpg" alt="" />
                </div>
            </div>
            <!-- <h3>第四屏</h3> -->
            <div class="section sec4" id="section4">
                <!-- 背景小圆点 -->
                <div class="sec4_circle1"></div>
                <div class="sec4_circle2"></div>
                <div class="sec4_circle3"></div>
                <!-- 主题内容 -->
                <div class="sec4_main_box">
                    <!-- 天气板块 -->
                    <div id="sec4-app">
                        <div class="sec4_title"><h2>天 气</h2></div>
                        <div class="sec4_search">
                            <input
                                type="text"
                                name=""
                                id=""
                                placeholder="九江"
                                @keyup.enter="searchEnter"
                                v-model="city"
                                class="sec4_input"
                            />
                            <button @click="clickButton" class="sec4_button">搜索</button>
                        </div>
                        <div class="sec4_select">
                            <a href="javascript:;" @click="changeCity('台州')">台州</a>
                            <a href="javascript:;" @click="changeCity('杭州')">杭州</a>
                            <a href="javascript:;" @click="changeCity('上海')">上海</a>
                            <a href="javascript:;" @click="changeCity('北京')">北京</a>
                            <a href="javascript:;" @click="changeCity('广州')">广州</a>
                        </div>
                        <ul class="sec4_ul">
                            <li v-for="item in weatherList" :key="index" class="sec4_li">
                                <div class="sec4_weather">
                                    <div class="tianqi">{{item.type}}</div>
                                    <div class="qiwen">{{item.low}}</div>
                                    <div class="date">{{item.date}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <h3>第五屏</h3> -->
            <div class="section sec5" id="section5">
                <video src="./2022-04-15 20-37-52.mp4" autoplay muted loop controls></video>
            </div>
            <!-- <h3>第六屏</h3> -->
            <div class="section sec6" id="section6">
                <!-- 背景小圆点 -->
                <div class="sec6_circle1"></div>
                <div class="sec6_circle2"></div>
                <div class="sec6_circle3"></div>
                <!-- 主题内容 -->
                <div class="sec6_main">
                    <div class="sec6_main_head">
                        <ul>
                            <li class="current1">
                                <a href="#">原神</a>
                            </li>
                            <li><a href="#">300英雄</a></li>
                            <li><a href="#">火影忍者究极风暴4</a></li>
                            <li><a href="#">海贼无双4</a></li>
                            <li><a href="#">永劫无间</a></li>
                            <li><a href="#">绝地求生</a></li>
                        </ul>
                    </div>
                    <div class="sec6_main_body" >
                        <div class="sec6_main_body_content hidden" style="display: block">
                            <div class="sec6_main_body_content_left">
                                <p>💘</p>
                                <p>《原神》是由上海米哈游制作发行的一款开放世界冒险游戏游戏发生在一个被称作"提瓦特"的幻想世界，在这里，被神选中的人将被授予"神之眼"，导引元素之力。玩家将扮演一位名为"旅行者"的神秘角色，在自由的旅行中邂逅性格各异、能力独特的同伴们，和他们一起击败强敌，找回失散的亲人--同时，逐步发掘"原神"的真相 。</p>

                                <p>💓</p>
                            </div>
                            <div class="sec6_main_body_content_right">
                                <div class="slide">
                                <img src="./img/原神.jpg" alt="" />
                            </div>
                            <div class="slide">
                                <img src="./img/原神1.jpg" alt="" />
                            </div>
                            <div class="slide">
                                <img src="./img/原神2.jpg" alt="" />
                            </div>
                            <div class="slide">
                                <img src="./img/原神3.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                        <div class="sec6_main_body_content hidden">
                            <div class="sec6_main_body_content_left">
                                <p>💘</p>
                                <p>《300英雄》是由上海跳跃网络科技有限公司自主研发的一款moba类网游。游戏以二次元7v7组队对抗玩法为主，提供永恒战场和永恒竞技场两种经典模式任由玩家选择，并创新性地加入勇者斗恶龙、二次元杀阵、守护二次元等多种休闲娱乐玩法。</p>
                                <p>💓</p>
                            </div>
                            <div class="sec6_main_body_content_right">
                                <img src="./img/3001.jpg" alt="" />
                            </div>
                        </div>
                        
                        <div class="sec6_main_body_content hidden">
                            <div class="sec6_main_body_content_left">
                                <p>💘</p>
                                <p>游戏承接《火影忍者疾风传：究极忍者风暴3》的剧情，设定了由初代火影千手柱间和宇智波斑的决斗开始，接着横跨到第四次忍界大战。
                                    讲述四位火影奔赴战场，宇智波佐助归来，宇智波带土成为十尾人柱力等一直到第四次忍界大战结束，鸣人当上第七代火影而终结的故事。</p>
                                <p>💓</p>
                            </div>
                            <div class="sec6_main_body_content_right">
                                <img src="./img/火影.webp" alt="" />
                            </div>
                        </div>
                        <div class="sec6_main_body_content hidden">
                            <div class="sec6_main_body_content_left">
                                <p>💘</p>
                                <p>《海贼无双4》是由KOEI TECMO开发制作，以日本漫画《海贼王》为题材所改编的动作游戏《海贼无双》系列的第四部作品。
                                    该游戏以“和一骑当千的夥伴们一起冒险”为游戏主轴，让玩家可透过爽快的ONE PIECE动作体验动画中的冒险旅程。以"拟真的ONE PIECE战场体验"为核心概念，在动作场面中加入建筑物的破坏及烟尘弥漫的效果等，力求再现ONE PIECE战场。此外也添加系列作中从未出现的人物的破坏动作。</p>
                                <p>💓</p>
                            </div>
                            <div class="sec6_main_body_content_right">
                                <img src="./img/海贼.webp" alt="" />
                            </div>
                        </div>
                        <div class="sec6_main_body_content hidden">
                            <div class="sec6_main_body_content_left">
                                <p>💘</p>
                                <p>《永劫无间》是由网易旗下“24 Entertainment工作室”开发的一款多人动作竞技游戏，游戏以虚构的幻想世界为背景，阴阳二神互相杀伐，导致世界处于永劫之中。玩家需扮演一名英雄，在地图中收集各种资源，与其他玩家对抗，生存到最后。</p>
                                <p>💓</p>
                            </div>
                            <div class="sec6_main_body_content_right">
                                <img src="./img/永劫无间.jpg" alt="" />
                            </div>
                        </div>
                        <div class="sec6_main_body_content hidden">
                            <div class="sec6_main_body_content_left">
                                <p>💘</p>
                                <p>《绝地求生》(PUBG) 是由韩国Krafton工作室开发的一款战术竞技型射击类沙盒游戏。在该游戏中，玩家需要在游戏地图上收集各种资源，并在不断缩小的安全区域内对抗其他玩家，让自己生存到最后。</p>
                                <p>💓</p>
                            </div>
                            <div class="sec6_main_body_content_right">
                                <img src="./img/绝地求生.webp" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <h3>第七屏</h3> -->
            <div class="section sec7" id="section7">
                <!-- 背景小圆点 -->
                <div class="sec7_circle1"></div>
                <div class="sec7_circle2"></div>
                <div class="sec7_circle3"></div>
                <!-- 主题内容 -->
                <div class="sec7_main">
                    <div class="sec7_main_head">
                        <ul>
                            <li class="current1">
                                <a href="#">刀剑神域</a>
                            </li>
                            <li><a href="#">罪恶王冠</a></li>
                            <li><a href="#">海贼王</a></li>
                            <li><a href="#">火影忍者</a></li>
                            <li><a href="#">Angel Beats</a></li>
                            <li><a href="#">蜡笔小新</a></li>
                        </ul>
                    </div>
                    <div class="sec7_main_body" >
                        <div class="sec7_main_body_content hidden" style="display: block">
                            <div class="sec7_main_body_content_left">
                                <button onclick="OpenPage()">点击跳转到动漫播放页面</button>
                                
                                <p>💘</p>
                                <p>电视动画《刀剑神域》改编自川原砾原作、abec插画的同名轻小说，动画由A-1 Pictures负责制作。在2011年10月2日举办的"电击文库 秋之祭典2011"活动上，发表了TV动画化的消息 。作品分为SAO和ALO篇，讲述了一场以空中浮游城堡"艾恩葛朗特城堡"为舞台的死亡游戏，被卷入其中的玩家桐人，以完全攻略为目标，展开了一连串严酷的冒险。</p>
                                <p>💓</p>
                                
                            </div>
                            <div class="sec7_main_body_content_right">
                                <img src="./img/刀剑神域.jpg" alt="" />
                            </div>
                        
                    </div>
                        <div class="sec7_main_body_content hidden">
                            <div class="sec7_main_body_content_left">
                                <button onclick="OpenPage1()">点击跳转到动漫播放页面</button>
                                
                                <p>💘</p>
                                <p>2029年，日本因突然爆发的"Apocalypse Virus(天启病毒)"的蔓延而陷入了混乱之中。处于无政府状态的日本，受到了由超国家之间所组织成的名为"GHQ"的组织的武力介入并接受其统治.之后又以名为"lost christmas(失落的圣诞)"的事件为契机，日本失去了独立国家的实质权力，并被赋予了表面上的自治权，由此人们开始享受短暂的和平。主角集在祈与涯引导之下，与葬仪社而发生了关联。然而这也仅仅是，他所背负的"罪之王冠"的物语的开幕罢了…</p>
                                <p>💓</p>
                            </div>
                            <div class="sec7_main_body_content_right">
                                <img src="./img/罪恶王冠.jpg" alt="" />
                            </div>
                        </div>
                        
                        <div class="sec7_main_body_content hidden">
                            <div class="sec7_main_body_content_left">
                                <button onclick="OpenPage2()">点击跳转到动漫播放页面</button>
                                <p>💘</p>
                                <p>故事讲述了想成为海贼王的路飞，误食了海贼香克斯收藏的橡胶恶魔果实，而变成橡胶人，恶魔果实的副作用却使他永远不能游泳。不过他的理想仍然没有改变——成为海贼王，并且找到传说中哥尔·D·罗杰的秘宝－One Piece，冒险就此开始了。</p>
                                <p>💓</p>
                            </div>
                            <div class="sec7_main_body_content_right">
                                <img src="./img/海贼王.jpg" alt="" />
                            </div>
                        </div>

                        
                        <div class="sec7_main_body_content hidden">
                            <div class="sec7_main_body_content_left">
                                <button onclick="OpenPage3()">点击跳转到动漫播放页面</button>
                                <p>💘</p>
                                <p>作品设定在一个忍者的世界，故事从主人公漩涡鸣人的孤儿生活开始，他的父母为了保护村子，将攻击村子的九尾妖狐封印到了他体内，鸣人因此受尽了村人的冷落，只是拼命用各种恶作剧试图吸引大家的注意力。好在还是有伊鲁卡老师的关心，鸣人的性格才没有变得扭曲，他总是干劲十足、非常乐观。为了让更多的人认可自己，鸣人的目标是成为火影。整个故事就围绕鸣人的奋斗、成长，鸣人的同伴们的故事，以及这个忍者世界的各种争斗和阴谋展开。</p>
                                <p>💓</p>
                            </div>
                            <div class="sec7_main_body_content_right">
                                <img src="./img/火影.jpg" alt="" />
                            </div>
                        </div>

                        <div class="sec7_main_body_content hidden">
                            <div class="sec7_main_body_content_left">
                                <button onclick="OpenPage4()">点击跳转到动漫播放页面</button>
                                <p>💘</p>
                                <p>故事从男主角音无从“死后的世界”醒来开始，认识了一个叫仲村由理的女孩。原来，由理在“死后的世界”率领着一个名为“死后世界战线”，简称“SSS”的组织。“SSS”成立的主要目的是反抗赐予他们生前悲哀命运的神以及神之使者——天使，在天使超乎常理的异能面前，战线的成员们在与天使奏的一次次接触后，慢慢地发现了天使的真实。音无结弦之时，天使悦动之心；立于浮华之世，奏响天籁之音。</p>
                                <p>💓</p>
                            </div>
                            <div class="sec7_main_body_content_right">
                                <img src="./img/天使的心跳.jpg" alt="" />
                            </div>
                        </div>

                        <div class="sec7_main_body_content hidden">
                            <div class="sec7_main_body_content_left">
                                <button onclick="OpenPage5()">点击跳转到动漫播放页面</button>
                                <p>💘</p>
                                <p>小新是一个年仅5岁，正在幼稚园上学的小男孩。他内心早熟，喜欢欣赏并向美女搭讪。最初小新与父亲广志和母亲美伢组成一个三人家族。随后又添加了流浪狗小白，日子频繁琐碎却不乏温馨感动。随着故事展开，又加入了新的成员妹妹野原葵，生活中他也有许多的朋友，每个人物都有自己鲜明的特点，为大家带来了一个又一个的搞笑故事。</p>
                                <p>💓</p>
                            </div>
                            <div class="sec7_main_body_content_right">
                                <img src="./img/蜡笔小新.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <h3>第八屏</h3> -->
            <div class="section sec8" id="section8">
                <body>
                    <h1>留言板</h1>
           <script type="text/javascript">
             var named;
             function delete1(id)
             {
                 localStorage.removeItem(id);
                 this.Storage.writeData();
             }
             function prom() {

                 var name = prompt("请输入您的名字", "");
                 named = name;

                 if (named)

                 {

                     alert("欢迎您：" + name)
                     document.getElementById("shangtian").style.display = "none";
                     document.getElementById("ritian").value = named;

                 }
                 else {
                     document.getElementById("ritian").value = "匿名发言者";
                 }

             }
          var Storage =
          {
              saveData:function()
              {
    
                      var data = document.querySelector("#post textarea");
                  if(data.value != "")
                  {
                      var time = new Date().getTime() + Math.random() * 5;
                      if (named) {
                          localStorage.setItem(time, data.value + "|" + named + "|" + this.getDateTime());
                      }
                      else
                      {
                          localStorage.setItem(time, data.value + "|" + "匿名发言者" + "|" + this.getDateTime());
                      }

                      data.value = "";
                      this.writeData();
                  }
                  else
                  {
                      alert("请填写您的留言！");
                 }
              },
              writeData:function()
              {
                 var dataHtml = "", data = "";
                  for(var i = localStorage.length-1; i >= 0; i--)
                  {
                      data = localStorage.getItem(localStorage.key(i)).split("|");
 

                      dataHtml += "<span style=>" + data[1] + "<span style=\"float:right\">" + data[2] + "</span><p><span class=\"msg\">" + data[0] + "<input style=\"float:right;border:none;border-radius:5px;\" id=\"clearBt\" type=\"button\" onclick=\"delete1(" + localStorage.key(i) + ");\" value=\"删除\"/>" + "</span></p>";
                  }
                  document.getElementById("comment").innerHTML = dataHtml;
              },
              clearData:function()
              {
                  if(localStorage.length > 0)
                  {
                      if(window.confirm("清空后不可恢复，是否确认清空？"))
                      {
                          localStorage.clear();
                          this.writeData();
                      }
                  }
                  else
                 {
                     alert("没有需要清空的数据！");
                  }
              },
              getDateTime:function()
              {
                  var isZero = function(num)
                  {
                      if(num < 10)
                     {
                          num = "0" + num;
                      }
                      return num;
                  }
                  
                  var d = new Date();
                  return d.getFullYear() + "-" + isZero(d.getMonth() + 1) + "-" + isZero(d.getDate()) + " " + isZero(d.getHours()) + ":" + isZero(d.getMinutes()) + ":" + isZero(d.getSeconds());
              }            
          }
          
          window.onload = function()
          {
              Storage.writeData();
              document.getElementById("postBt").onclick = function(){Storage.saveData();}
              document.getElementById("clearBt").onclick = function(){Storage.clearData();}
          }





          </script>
                    <div id="content">
                        <div id="post">
                            <div style="background:#3EADC5 ;height:45px;">
                                昵称：<input type="submit" id="shangtian" name="Submit3" style="border:none; background-color:#3EADC5; color:white;" value="默认用户点击改变" onclick="prom()" />
                                <input type="text" id="ritian" style="border:none; background-color:#3EADC5; color:white;"   onclick="prom()"/>
                                <!--disabled="disabled"-->
                            </div>
                            <div>
                            <textarea class="transition"></textarea>
                                </div>
                            <input id="postBt" type="button" style="border:none; background-color:#3EADC5; color:white;border-radius:5px; width:80px; height:30px;" value="发表留言"/>
                           <input id="clearBt" type="button" style="border:none; background-color:#3EADC5; color:white;border-radius:5px; width:80px; height:30px;" value="清空"/>
                       </div>
                       <div id="comment"></div>
                        </div>
                    </body>
            </div>
            
        <!-- ------------------------------------------------- -->
        <!-- 官网提供的 axios 在线地址 -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- 引入在线axios地址 -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <!-- 开发环境版本，包含了有帮助的命令行警告 -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="./js/vue.js"></script>

        <script type="text/javascript">

            function OpenPage1()
        {
            window.open("https://www.360kan.com/ct/P0fnbsekLo30ET.html");
        }

                                function OpenPage()
                                {
                                   window.open("https://www.mandao.tv/man/911603.html");
                                }

                                function OpenPage2()
                                {
                                   window.open("https://www.360kan.com/ct/O0DncMDbLYC2DD.html");
                                }


                                function OpenPage3()
                                {
                                   window.open("https://www.360kan.com/et/QUbkbcLWLYz3ED.html");
                                }


                                function OpenPage4()
                                {
                                   window.open("https://www.bilibili.com/bangumi/play/ss959");
                                }


                                function OpenPage5()
                                {
                                   window.open("https://www.360kan.com/ct/PkDmbJ7jNIz2Cj.html?from=videoso_result");
                                }
        </script>

        
    </body>
</html>
